<section id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="http://localhost:3000/littleMonster/thongKe" class="logo"><b>LITTLE MONSTER</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="http://localhost:3000/littleMonster">Đăng xuất</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="#"><img src="/images/avatar.jpg" class="img-circle"
                            width="60"></a></p>
                <h5 class="centered">Trần Võ Thục Miên</h5>

                <li class="mt">
                    <a href="http://localhost:3000/littleMonster/themMoi">
                        <i class="fa fa-tasks"></i>
                        <span>Thêm mới</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="http://localhost:3000/littleMonster/danhSach">
                        <i class="fa fa-th"></i>
                        <span>Danh Sách</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="http://localhost:3000/littleMonster/thongKe">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Thống Kê</span>
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Thống Kê</h3>
            <!-- page start-->
            <div class="tab-pane" id="chartjs">
                <div class="row mt">
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Doanh Thu</h4>
                            <div class="panel-body text-center">
                                <canvas id="line" height="300" width="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Best Seller</h4>
                            <div class="panel-body text-center">
                                <canvas id="doughnut" height="300" width="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> Radar</h4>
                              <div class="panel-body text-center">
                                  <canvas id="radar" height="300" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> Polar Area</h4>
                              <div class="panel-body text-center">
                                  <canvas id="polarArea" height="300" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                  </div> -->
                <!-- <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> Bar</h4>
                              <div class="panel-body text-center">
                                  <canvas id="bar" height="300" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
							  <h4><i class="fa fa-angle-right"></i> Pie</h4>
                              <div class="panel-body text-center">
                                  <canvas id="pie" height="300" width="400"></canvas>
                              </div>
                          </div>
                      </div>
                  </div> -->
            </div>
            <!-- page end-->
        </section>
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
</section>